---
import { Image, Picture } from 'astro:assets';
import heroImageEn from '../assets/hero-screenshot-en.png';
import heroImageTh from '../assets/hero-screenshot-th.png';
import Link from '@components/ui/link.astro';
import Container from '@components/container.astro';
import { useTranslations, usePageTranslations } from '../i18n/utils';

import type { UILanguages } from '../i18n/ui';

const heroImages = {
  en: heroImageEn,
  th: heroImageTh,
} as const;

const page_ui: UILanguages = {
  en: {
    'hero.h1': 'Boost Your Sales with an AI Chatbot Built for Online Sellers',
    'hero.description':
      'Handle customer inquiries 24/7, close more sales, and grow your business effortlessly—no coding required!',
    'hero.cta': ' ☕️ Email me',
    'hero.register': 'Free Register',
  },
  th: {
    'hero.h1': 'เพิ่มยอดขายง่าย ๆ ด้วย AI Chatbot สำหรับแม่ค้าออนไลน์',
    'hero.description':
      'ตอบลูกค้า 24/7 ปิดการขายไว จัดการธุรกิจได้ง่าย ไม่ต้องเขียนโค้ด!',
    'hero.cta': 'นัดหมายพูดคุย',
    'hero.register': 'ลงทะเบียนฟรี',
  },
} as const;

const lang = Astro.currentLocale || 'en';
const t = useTranslations(lang);
const p = usePageTranslations(lang, page_ui);
const heroImage = heroImages[lang];
---

<div class="overflow-x-clip">
  <Container>
    <main class="grid lg:grid-cols-5 place-items-center relative">
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
      </div>
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
      </div>

      <div class="max-w-sm md:max-w-max lg:col-span-2">
        <h1
          class={`text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start ${
            lang === 'th' ? 'leading-snug xl:leading-snug' : ''
          }`}>
          {p('hero.h1')}
        </h1>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          {p('hero.description')}
        </p>
        <div
          class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
            href="https://app.dealdroid.net/register"
            target="_blank"
            class="flex gap-1 items-center justify-center"
            rel="noopener">
            {p('hero.register')}
          </Link>
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href="mailto:apirakb@gmail.com"
            class="flex gap-1 items-center justify-center"
            target="_blank">
            {p('hero.cta')}
          </Link>
        </div>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <Picture
          src={heroImage}
          alt="Astronaut in the air"
          formats={['avif', 'webp']}
          sizes="(max-width: 768px) 90vw, (max-width: 1024px) 80vw, 50vw"
          widths={[480, 960, 1440, 1920, heroImage.width]}
          loading="eager"
          fetchpriority="high"
          quality={80}
        />
      </div>
    </main>
  </Container>
</div>
