---
import {
  getLangFromUrl,
  useTranslations,
  usePageTranslations,
} from '../i18n/utils';

import type { UILanguages } from '../i18n/ui';
import { Image } from 'astro:assets';

import logoFacebook from '../assets/brands/facebook_messenger.svg';
import logoAlibaba from '../assets/brands/alibaba.svg';
import logoGoogle from '../assets/brands/google_cloud.svg';
import logoDeepinfra from '../assets/brands/deepinfra.svg';

const page_ui: UILanguages = {
  en: {
    'logo.h2': 'Stand on giant shoulder',
  },
  th: {
    'logo.h2': 'ยืนอยู่บนระบบที่ได้รับความเชื่อถือระดับโลก',
  },
} as const;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const p = usePageTranslations(lang, page_ui);
const logos = [
  {
    src: logoGoogle,
    alt: 'Google cloud logo',
  },
  {
    src: logoDeepinfra,
    alt: 'Deepinfra logo',
  },
  {
    src: logoAlibaba,
    alt: 'Alibaba logo',
  },
  {
    src: logoFacebook,
    alt: 'Facebook logo',
  },
];
---

<div>
  <h2 class="text-center text-slate-500">
    {p('logo.h2')}
  </h2>
  <div
    class="flex gap-x-4 gap-y-4 md:gap-18 lg:gap-20 items-center justify-center mt-6 flex-wrap">
    {
      logos.map((logo) => (
        <div class="text-gray-500 my-2 h-8 md:h-10">
          <Image
            src={logo.src}
            alt={logo.alt}
            class="h-full w-auto"
            loading="eager"
            fetchpriority="high"
          />
        </div>
      ))
    }
  </div>
</div>
